<app-my-nav></app-my-nav>

<form style="margin-left: 1em" #studentForm="ngForm" (ngSubmit)="onSubmit()">
  
  <mat-form-field class="full-width">
    <input matInput placeholder="Activity ID" [(ngModel)]="model.actId" name="actId" required>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Activity name" [(ngModel)]="model.actName" name="actName" required>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Date " [(ngModel)]="model.date" name="date" required>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Location" [(ngModel)]="model.location" name="location" required>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Period" [(ngModel)]="model.period" name="period" required>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Description " [(ngModel)]="model.description" name="description" required>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Teacher" [(ngModel)]="model.actHost" name="actHost" required>
  </mat-form-field>
  <br>
  <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid">Add</button>
  </mat-card-actions>
</form>
