<mat-toolbar>
  <mat-toolbar-row>
    <span>Student</span>
  </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" [value]="student.studentId">
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [value]="student.name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Surname" [value]="student.surname">
        </mat-form-field>
      </td>
    </tr>
    
  </table>
  <div class="center">
  <mat-card class="img-width">
    <mat-card-header>
      <mat-card-title>Image</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="student.image" [alt]="student.name">
  </mat-card>
  </div>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" [value]="student.description"></textarea>
  </mat-form-field>  
</form>