<app-my-nav></app-my-nav>

<form style="margin-left: 1em" #studentForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input matInput placeholder="Student Id" [(ngModel)]="model.studentId" name="studentId" required>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" [(ngModel)]="model.email" name="email" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" [(ngModel)]="model.name" name="name" required>
        </mat-form-field>
      </td>
    </tr>
    <td>
      <mat-form-field class="full-width">
        <input matInput placeholder="Surname" [(ngModel)]="model.surname" name="surname" required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" [(ngModel)]="model.password" name="password" required>
      </mat-form-field>
    </td>    
  </table>
  <mat-form-field hintLabel="will change to the image uploader component later" class="full-width">
    <input matInput placeholder="file name" [(ngModel)]="model.image" name="image">
  </mat-form-field>  
  <div class="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid">Add</button>
  </div>
</form>
