.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: #4A235A;;
}

.toolbar-nav{
display: flex;
flex-direction: row;
}
.color{
  color: white;
}