    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Learning Through Activity</span>
      <mat-nav-list class="toolbar-nav">
        <a mat-list-item class="color" [routerLink]="['/home']" routerLinkActive="router-link-active">
          <i class="material-icons">home</i>Home</a>
        <a mat-list-item class="color" [routerLink]="['/list']" routerLinkActive="router-link-active">List</a>
        <!-- <a mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active">Add</a> -->
        <a mat-list-item class="color" [routerLink]="['/edit']" routerLinkActive="router-link-active">Edit Profile</a>
        <a mat-list-item class="color" [routerLink]="['/addAct']" routerLinkActive="router-link-active">Add Activity</a>
        <a mat-list-item class="color" [routerLink]="['/tableAct']" routerLinkActive="router-link-active">List Activity</a>
        <!-- <a mat-list-item class="color" [routerLink]="['/editAct']" routerLinkActive="router-link-active">Edit Activity</a> -->
        <a mat-list-item class="color" [routerLink]="['/registration']" routerLinkActive="router-link-active">Registration</a>
        <mat-menu #menu="matMenu">
         
        </mat-menu>
      </mat-nav-list>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
