<body>
  <div class="row">
  </div>
  <form action="action_page.php">
    <div class="container">
      <p><b>Learning Through Activity </b></p>
      <label for="email"><b>Email address</b></label>
      <input type="text" placeholder="Enter email address" name="email" [(ngModel)]="model.email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter password" name="password" [(ngModel)]="model.password" required>

        <button mat-raised-button type="submit" (click)="onSubmit()">Login</button>
        <button mat-raised-button [routerLink]="['/registration']" routerLinkActive="router-link-active">Register</button>
    </div>
  </form>
</body>