form {
    border: 3px solid #f1f1f1;
    max-width: 450px;
    padding: 40px 25px;
    margin: 0 auto 25px;
    background-color: #f1f1f1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #58D68D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
button:hover {
    opacity: 0.8;
}
.signupbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #48C9B0;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .signupbtn {
        width: 100%;
     }
}
body{
    background-color: #4A235A;
}
.row{
    padding: 60px 0;
}
