
<app-my-nav></app-my-nav>
<div class="mat-elevation-z8">
  <div *ngIf="loading" class="loading-indicator">
    <!-- <mat-spinner></mat-spinner> -->
  </div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <ng-container matColumnDef="actId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity Id</th>
      <td mat-cell *matCellDef="let row">{{row.actId}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="actName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity Name</th>
      <td mat-cell *matCellDef="let row">{{row.actName}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">{{row.location}}</td>
    </ng-container>
    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>
    <!-- periodOfRegis Column -->
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Period</th>
      <td mat-cell *matCellDef="let row">{{row.period}}</td>
    </ng-container>
    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>
    <!-- hostTeacher Column -->
    <ng-container matColumnDef="actHost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher</th>
      <td mat-cell *matCellDef="let row">{{row.actHost}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>