<app-my-nav></app-my-nav>
<div class="row justify-content-start">
  <div class="col-md-offset-3	 col-md-9">
    <div>
      <div class="panel panel-primary  ">
        <div class="panel-heading">
          <h2 class="panel-title">{{activitys.id}}</h2>
        </div>
        <div class="panel-body row">
          <div class="col-md-8">
            <p class="activity-actName"> {{activitys.id}}</p>
            <p class="activity-actName"> {{activitys.actId}}</p>
            <p class="activity-actName"> {{activitys.actName}}</p> 
            <p class="activity-actName"> {{activitys.date}}</p>  
            <p class="activity-actName"> {{activitys.location}}</p> 
            <p class="activity-actName"> {{activitys.period}}</p> 
            <p class="activity-actName"> {{activitys.description}}</p> 
            <p class="activity-actName"> {{activitys.actHost}}</p>
          </div>          
        </div>       
    </div>
  </div>
</div>