
<mat-toolbar>
    <mat-toolbar-row>
      <span>Edit Profile</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form style="margin-left: 1em">
    <mat-form-field class="full-width">
      <input matInput placeholder="Student Id" [value]="student.studentId">
    </mat-form-field>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="name" [value]="student.name">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="surname" [value]="student.surname">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <mat-form-field class="full-width">
                <input matInput placeholder="image" [value]="student.image">
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="email" [value]="student.email">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="password" [value]="student.passwords">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="center">    
    </div>
    <div class="center">
        <button mat-raised-button  color="primary" type="submit" >Confirm</button>
      </div>    
  </form>